  body {
      margin: 0;
      padding: 0;
  }

  #controls {
      position: absolute;
      top: 20px;
      left: 10px;
      z-index: 999;
      background-color: rgba(255, 255, 255, 0.8);
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .model-viewer-container {
      width: 100vw;
      height: 100vh;
  }

  .color-picker {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .texture-picker {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: url('/assets/img/red.jpeg') center center / cover;
      /* Replace 'texture.png' with your texture image */
      cursor: pointer;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }

  .HotspotAnnotation {
      background: rgb(255, 255, 255);
      border-radius: 4px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 2px 4px;
      color: rgba(0, 0, 0, 0.8);
      display: block;
      font-family: Futura, "Helvetica Neue", sans-serif;
      font-size: 18px;
      font-weight: 700;
      left: calc(100% + 1em);
      max-width: 128px;
      overflow-wrap: break-word;
      padding: 0.5em 1em;
      position: absolute;
      top: 50%;
      width: max-content;
  }